@{
    ViewBag.Title = "What am I doing?";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}
<input id="datepicker" type="date" class="input-medium search-query">
<button id="datepicker-submit" type="submit"  class="btn">Display</button>

<h1 style="text-align:center" id="dailyTitle"></h1>

<div id="no-data" class="alert alert-info" style="display:none" >
</div>


<table id="hourly-table" class="table" >
</table>

@section scripts {
    <script src="~/Scripts/TodayInNumbers.js"> </script>   
}