@{
    ViewBag.Title = "What am I doing?";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}


  <input id="datepicker" type="date" class="input-medium search-query">
  <button id="datepicker-submit" type="submit"  class="btn">Display</button>

  <h1 style="text-align:center" id="dailyTitle"></h1>
 
<div id="no-data" class="alert alert-info" style="display:none" >
</div>



<div id="piegraph" style="height: 400px; margin: 0 auto; min-width: 400px;"></div>
<table id="hourly-table" class="table" >
    
</table>
  <div id="hourlycharts" style="margin: 0 auto; min-width: 400px;">

</div>

@section scripts {
    <script src="~/Scripts/Today.js"> </script>   
    
    
}