@{
    ViewBag.Title = "What you see";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<div class="row">
    
    <div class="span6">
        <h1 style="text-align: right">What you see</h1>
        <p style="text-align: right">Waid runs in the Windows tray. From the tray you can get a report of what you are doing.</p>
        <img align="right" src="~/Content/images/tray-icon.png" />
    </div>
    
    
    
    <div class="span6 offset5">
        <h2 style="text-align: right">Charts</h2>
        <p style="text-align: right">
            Daily and hourly charts are available for any day.
        </p>
        <img align="right" src="~/Content/images/waid-charts.png" />
    </div>

    
    <div class="span6 offset1">
        
        <h2 style="text-align: left">Tables</h2>
        <p>
            Detailed tabular data is also available for closer analysis.
        </p>
        
        <img src="~/Content/images/waid-numbers.png" />
    </div>

    
    <div class="span5 offset7">
        
        <h2 style="text-align: left">Coming Soon!</h2>
        <p>
            <span class="label label-success">Coming Soon!</span> App usage leaderboards
        </p>
        
        <p>
            <span class="label label-success">Coming Soon!</span> Team usage reports
        </p>
    </div>
    
    <div class="span12">
        <hr>

        <footer>
            <p>&copy; Mark Lamley (<img src="~/Content/images/disclaimer.png" />) 2012</p>
        </footer>    

    </div>
</div>

